@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

body, h1, h2 {
    margin: 0px;
    padding: 0px;
}

.float-wrap {
    overflow: hidden;
}

.main-box {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebebeb;
    box-shadow: 0px 1px  20px  0px rgba(0, 0, 0, 0.1);
}

.text-mainTitle {
    font-size: 36px;
    text-align: right;
    padding-right: 30px;
    font-style: italic;

}

.text-subTitle {
    text-align: right;
    font-size: 16px;
    padding-right: 30px;
    color: slategrey;
    font-weight: bold;
}



h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #282828;
    border-bottom: 1px solid #ebebebeb;
    margin-top: 30px;
    padding-bottom: 10px;
}

.about-desc {
    font-size: 10px;
}
.group-text {
    margin-left: 10px;
    margin-right: 10px;
}

.title-text {
    font-size: 10px;
    font-weight: bold;
    float: left;
}

.year-text {
    font-size: 10px;
    font-weight: bold;
    float: right;
}

.desc-text {
    font-size: 10px;
}

.sub-text {
    font-size: 10px;
    margin: 10px;
}

.sns-group {
    text-align: right;
}

.sns-icon{
    width: 20px;
    height: 20px;
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    color: #919191;
    padding: 20px;
}